$color-wight: #ffffff;
$color-black: #000000;


$size-2px:0.125em;
$size-4px:0.25em;
$size-6px:0.375em;
$size-8px:0.5em;
$size-10px:0.625em;
$size-12px:0.75em;
$size-14px:0.875em;
$size-18px:1.125em;
$size-20px:1.25em;
$size-22px:1.375em;
$size-24px:1.5em;
$size-26px:1.625em;
$size-28px:1.75em;
$size-30px:1.875em;
$size-32px:2em;
$size-34px:2.125em;
$size-36px:2.25em;
$size-38px:2.375em;
$size-40px:2.5em;
$size-42px:2.625em;
$size-44px:2.75em;
$size-46px:2.875em;
$size-48px:3em;
$size-50px:3.125em;
$size-52px:3.25em;
$size-54px:3.375em;
$size-56px:3.5em;
$size-58px:3.625em;
$size-60px:3.75em;
$size-62px:3.875em;
$size-64px:4em;
$size-66px:4.125em;
$size-68px:4.25em;
$size-70px:4.375em;