@import "params/variables";
@import "params/mixins";
.compilation {
	& img {
		width: 100%;
		height: 100%;
	}
	& .preview-one, & .preview-two, & .preview-three {
		position: relative;
		margin-bottom: 1rem;
		& .overly {
			background: transparentize($color-black,.8);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			& .wrap {
				flex-direction: column;
				width: 100%;
				height: 100%;
				padding: $size-20px;
				& .item, & .title {
					text-transform: uppercase;
					text-align: center;
				}
			}
		}
	}
	& .preview-one {
		max-width: 54.4rem;
		max-height: 40.8rem;
		& .overly {
			& a {
				color: $color-wight;
			}
			& .wrap {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			& .title  {
				font-size: $size-30px;
				font-weight: 700;
			}
			& .meta {
				width: 100%;
				max-width: 15rem;
				display: flex;
				flex-direction: row;
				& .decor {
					align-self: center;
					background: $color-wight;
					width: 100%;
					max-width: 5rem;
					height: .1rem;
				}
				& .icon {
					font-size: $size-30px;
				}
			}
		}
	}
	& .preview-two, & .preview-three {
		& .wrap {
			display: inline-block;
			& .item {
				display: inline-flex;
				background: $color-wight;
				color: $color-black;
				padding: $size-6px;
			}
			& .description {
				display: inline-flex;
				background: $color-anthraciteDarkGray;
				color: $color-wight;
				font-size: $size-20px;
				padding: $size-4px;
				& a {
					color: $color-wight;
				}
				& > span {
					text-transform: uppercase;
				}
				& .icon {
					margin-right: $size-4px;
				}
			}
		}
	}
	& .preview-two {
		max-width: 54.2rem;
		max-height: 26.8rem;
	}
	& .preview-three {
		max-width: 26.7rem;
		max-height: 26.8rem;
	}
}