@import "params/variables";
@import "params/mixins";

.nav {
	& .form-nav {
		font-size: $size-14px;
		color: $color-black;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;

	}
	& .meta {
		display: flex;
		width: 100%;
		max-width: 14.6rem;
		padding-bottom: $size-10px;
		& .select-menu {
			width: 100%;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background: none;
			border: none;
			overflow: hidden;
			&:focus {
				outline: none;
			}
			&:hover {
				cursor: pointer;
			}
			& option[value="1"] {
				color: $color-greenDarkGray;
			}
		}
		& .icon {
			align-self: center;
			margin:0 $size-8px 0 ;
			pointer-events: none;

		}
	}
	& .btn {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-shadow: none;
		background: none;
		color: $color-black;
		display: block;
		margin-left: $size-8px;
		margin-bottom: $size-10px;
		padding: $size-12px $size-22px;
		outline: none;
		&:hover {
			background: #c7b084 ;
			color: $color-wight;
		}
	}
	& .menu-ul {
		justify-content: center;
		& .menu-li {
			margin: 0 $size-10px;
			padding: $size-12px $size-24px;
			&.active, &:hover {
				background: $color-anthraciteDarkGray;
				border-radius: $size-14px;
				& a {
					color: $color-wight;
				}
			}
			& a {
				color: $color-black;
			}
		}
	}
}