@import "params/variables";
@import "params/mixins";
.content {
	& img {
		width: 100%;
		height: 100%;
	}
	& .preview-one, & .preview-two, & .preview-three {
		position: relative;
		margin-bottom: 1rem;
	}
	& .preview-two, & .preview-three {
		& .wrap {
			display: inline-block;
			& .item {
				display: inline-flex;
				background: $color-wight;
				color: $color-black;
				padding: $size-6px;
				&:hover {
					background: darken($color-wight,10%);
				}
			}
			& .description {
				display: inline-flex;
				background: $color-anthraciteDarkGray;
				color: $color-wight;
				font-size: $size-20px;
				padding: $size-4px;
				&:hover {
					background: lighten($color-anthraciteDarkGray,10%);
				}
				& a {
					color: $color-wight;
				}
				& > span {
					text-transform: uppercase;
				}
				& .icon {
					margin-right: $size-4px;
				}
			}
		}
	}
	& .preview-two {
		max-width: 54.2rem;
		max-height: 26.8rem;
	}
	& .preview-three {
		max-width: 26.7rem;
		max-height: 26.8rem;
	}
}