@import "params/variables";
@import "params/mixins";

/*!Main Styles*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
@import url(//db.onlinewebfonts.com/c/5c452fb7a0f5751f4e94e9d84eb01154?family=Segoe+Script);

html {
	font-size: 10px;
}

body {
	background: $color-wight;
	color: $color-greenDarkGray;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	min-width: 32rem;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}



ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
  max-width: 100%;

}

.decor-title {
	padding-top: $size-10px;
	padding-bottom: $size-28px;
	& .img {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding-bottom: $size-10px;
		&-left, &-right {
			align-self: center;
			background: #dadada;
			width: 100%;
			max-width: 51.4rem;
			height: $size-2px;
		}
		& img {
			max-width: 100%;
		}
	}
	h2.title {
		color: $color-greenDarkGray;
		font-size: $size-30px;
		font-weight: 400;
		margin: 0;
		padding-top: 0.4em;
		text-align: center;
		text-transform: uppercase;
	}
}

.preview-one {
	max-width: 54.4rem;
	max-height: 40.8rem;
	& .overly {
		& a {
			color: $color-wight;
		}
		& .wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		& .item {
			margin: 0;
		}
		& .title {
			font-size: $size-30px;
			font-weight: 700;
			margin: 0;
		}
		& .meta {
			width: 100%;
			max-width: 15rem;
			display: flex;
			flex-direction: row;
			text-align: center;
			& .decor {
				align-self: center;
				background: $color-wight;
				width: 100%;
				max-width: 5rem;
				height: .1rem;
			}
			& .icon {
				font-size: $size-30px;
			}
		}
	}
}

.overly {
	background: transparentize($color-black, .8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	& .wrap {
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: $size-20px;
		& .item, & .title {
			text-transform: uppercase;
			text-align: center;
		}
	}
}

.avatar {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	max-width: 5.2rem;
	max-height: 5.2rem;
}

.socials {
	& .icon {
		margin: 0 $size-8px;
	}
}

@import "grid";
@import "content-nav";

.all {
	display: flex;
	flex-direction: row;
	max-width: 136.6rem;
	margin: 0 auto;
	@import "sid-bap";
	@import "cotainer";
}
@import "font-awesome/font-awesome";
@import "media";

