@font-face {
	src: local('PF Din Text Comp Pro Regular'),
	url('https://nomail.com.ua/files/woff/c379922c7a1e1baf3dd95d4fc61899a8.woff') format('woff');
}

@font-face {font-family: "PF Din Text Comp Pro bolb";
	src: url("//db.onlinewebfonts.com/t/b925f75f38e20aab0e872ba84d1d0b27.eot");
	src: url("//db.onlinewebfonts.com/t/b925f75f38e20aab0e872ba84d1d0b27.eot?#iefix") format("embedded-opentype"),
	url("//db.onlinewebfonts.com/t/b925f75f38e20aab0e872ba84d1d0b27.woff2") format("woff2"),
	url("//db.onlinewebfonts.com/t/b925f75f38e20aab0e872ba84d1d0b27.woff") format("woff"),
	url("//db.onlinewebfonts.com/t/b925f75f38e20aab0e872ba84d1d0b27.ttf") format("truetype"),
	url("//db.onlinewebfonts.com/t/b925f75f38e20aab0e872ba84d1d0b27.svg#PF Din Text Comp Pro") format("svg");
}
@font-face {font-family: "PF Din Text Comp Pro light";
	src: url("//db.onlinewebfonts.com/t/65f112314242c1b6622d86bf90f671da.eot");
	src: url("//db.onlinewebfonts.com/t/65f112314242c1b6622d86bf90f671da.eot?#iefix") format("embedded-opentype"),
	url("//db.onlinewebfonts.com/t/65f112314242c1b6622d86bf90f671da.woff2") format("woff2"),
	url("//db.onlinewebfonts.com/t/65f112314242c1b6622d86bf90f671da.woff") format("woff"),
	url("//db.onlinewebfonts.com/t/65f112314242c1b6622d86bf90f671da.ttf") format("truetype"),
	url("//db.onlinewebfonts.com/t/65f112314242c1b6622d86bf90f671da.svg#PF Din Text Comp Pro") format("svg");
}