@import "params/variables";
@import "params/mixins";
.header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: $size-26px;

}
#search {
	color: $color-black;
	cursor: pointer;
}

.icon {
	color: lighten($color-greenDarkGray, 10%);
	cursor: pointer;
}

.users {
	display: flex;
	& .indicator {
		display: inline-block;
		background: #000000;
		border-radius: 50%;
		width: .6rem;
		height: .6rem;
	}
	& #user {
		margin-right: $size-24px;
		margin-left: $size-36px;
	}
}

