@import "params/variables";
@import "params/mixins";

@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 2000px) {}
@media screen and (max-width: 960px) {
	body {
		font-size: 14px;
	}
}
@media screen and (max-width: 810px) {
	.all	{
		& .wrapper {
			& .content {
				& .articles {
					& .content{
						& .article {
							flex-direction: column;
							align-items: center;
							& .description {
								& .meta {
									padding: $size-6px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 780px) {
	body {
				font-size: 12px;
	}
	.all {
		flex-direction: column;
		& .sid-bar {
			max-width: 100%;
			height: 100%;
			position: relative;
			& .logo {
				padding-top: 0;
			}
			& .sb-menu-lu {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				& .sb-menu-li {
					padding-left:  1.3em;
					padding-right:  1.3em;
				}
			}
		}
		& .wrapper {
			display: flex;
			flex-direction: column;
			margin-left: 0;
			& .header {
				& .hamburger {
					display: block;
				}
			}
			& .content {
				& .articles {
					& .content {
						& .article {
							& .photo {
								& img {
									max-height: 26.8rem;
								}
							}
						}
					}
				}
				& .trends-compilation {
					& .content {
						& .preview-one {
							max-width: 54.4rem;
							& img {
								width: 100%;
							}
							& .overly {
								& .wrap {
									justify-content: center;
								}
							}
						}
					}
				}
			}
			& .menu-bottom {
				order: -1;
				& .wrap {
					display: block;
					& .bottom-menu-ul {
						justify-content: space-between;
					}
					& .socials {
						display: none;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 560px) {
  body {
		font-size: 10px;
	}
	.all {
		& .sid-bar {
			max-width: 100%;
			& .sb-menu-lu {
				flex-direction: column;
				& .sb-menu-li {
					padding-left:  0;
					padding-right:  0;
				}
			}
			& .meta {
				& .socials {
					& .icon {
						margin: 0 $size-12px;
					}
				}
			}
		}
		& .wrapper {
			& .content {
				& .compilation {
					& .content {
						& .preview-three {
							max-width: 54.4rem;
						}
					}
				}
				& .articles {
					& .content {
						& .article {
							& .description {
								font-size: 12px;
							}
						}
					}
				}
			}
			& .menu-bottom {
				& .wrap {
					& .bottom-menu-ul {
						margin: 0 auto;
						flex-wrap: wrap;
						& .menu-li {
							margin-top: $size-10px;
							margin-bottom: $size-10px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.all {
		& .wrapper {
			& .content {
				& .compilation {
					& .nav {
						& .form-nav {
							flex-direction: column;
							& .meta {
								padding-bottom: $size-26px;
							}
							& .meta, & a {
								align-self: center;

							}
							& .btn {
								margin-bottom: .5em;
							}
						}
					}
				}
			}
		}
	}
}
//@media screen and (max-width: 2000px) {}